<div class= "morado-claro">
  <br>
  <br>
</div>
<div id="modal1" class="modal">
  <div class="modal-content">
    <div class="contain blanco">
      <p id="notice"><%= notice %></p>
      <table class="responsive-table-hoverable-centered">
        <thead>
          <tr>
            <th>Reunión</th>
            <th>Fecha</th>
            <th>Hora de inicio</th>
            <th>Hora de termino</th>
            <th>Lugar</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @reunions.each do |reunion| %>
          <tr>
            <td>Reunión <%= reunion.id %></td>
            <td><%= reunion.fecha %></td>
            <td><%= reunion.horainicio %></td>
            <td><%= reunion.horafin %></td>
            <td><%= reunion.lugar %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Volver</a>
    </div>
  </div>
  <br>
</div>
<div class="contain blanco">
  <br>
  <br>  
  <table class="responsive-table">
    <thead class"reuniones">
      <h3>Reuniones del sprint 1 </h3>
      <button class="btn-ocultar-grafos" type="button">ocultar grafos</button>
      <button class="btn-mostrar-grafos" type="button">mostrar grafos</button>
      <tr>
        <% @reunions.each do |reunion| %>
        <th>  <%= link_to "<div class='waves-effect waves-light pink btn-large'>Reunion#{reunion.id}</div>".html_safe, reunion %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody class="grafos">    
    <!--
    <div class='waves-effect waves-light btn-large btn-acuerdo'>Acuerdo</div>
    <div class='waves-effect waves-light btn-large btn-compromiso'>Compromiso</div>
    <div class='waves-effect waves-light btn-large btn-quitar'>Quitar filtro</div>-->
    <% @reunions.each do |reunion| %>
    <td>
      <% reunion.tasks.each do | task | %>
      <% if task.tipo == "Compromiso" %>
      <div class= "center-align">
        <%= link_to "<div id='co_#{task.id}' class='btn-floating btn-large waves-effect waves-light red task nodo center-block tooltip interactuar' title = 'CO #{reunion.id}.X <p> Tema: #{task.tema} <br> Tipo: #{task.tipo} <br> Deadline: #{task.fechatermino} </p>'>#{ task.tipo[0,2].upcase}</div>".html_safe ,task %>
      </div>
      <% elsif task.tipo == "Acuerdo" %>
      <div class= "center-align">
        <%= link_to "<div id='ac_#{task.id}' class='btn-floating btn-large waves-effect waves-light blue task nodo center-block tooltip interactuar' title = 'AC #{reunion.id}.X <p> Tema: #{task.tema} <br> Tipo: #{task.tipo} <br> Deadline: #{task.fechatermino} </p>'>#{ task.tipo[0,2].upcase}</div>".html_safe ,task %>
      </div>
      <% elsif task.tipo == "Duda" %>
      <div class= "center-align">
        <%= link_to "<div id='du_#{task.id}' class='btn-floating btn-large waves-effect waves-light green task nodo center-block tooltip interactuar' title = 'DU #{reunion.id}.X <p> Tema: #{task.tema} <br> Tipo: #{task.tipo} <br> Deadline: #{task.fechatermino} </p>'>#{ task.tipo[0,2].upcase}</div>".html_safe ,task %>
      </div>
      <% elsif task.tipo == "Desacuerdo" %>
      <div class= "center-align">      
        <%= link_to "<div id='de_#{task.id}' class='btn-floating btn-large waves-effect waves-light yellow task nodo center-block tooltip interactuar' title = 'DE #{reunion.id}.X <p> Tema: #{task.tema} <br> Tipo: #{task.tipo} <br> Deadline: #{task.fechatermino} </p>'>#{ task.tipo[0,2].upcase}</div>".html_safe ,task %>
      </div>
      <% end %>
      
      <br>
      <% end %>
    </td>
    <% end %>
  </tbody>
</table>
<a class="waves-effect waves-light pink btn modal-trigger" href="#modal1"> Mostrar Todas las reuniones</a>
<br>
<br>
<h6> AC:Acuerdo </h6>
<h6> DE:Desacuerdo</h6>
<h6> CO:Compromiso</h6>
<h6> DU:Dudas</h6>
<br>
</div>
<div class="contain blanco">
  <button class="btn-ocultar" type="button">ocultar</button>
  <button class="btn-mostrar" type="button">mostrar</button>
  <div class="panel" style="width: 100%; height:115px; overflow: scroll;">
    Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis reformidans eu, legimus senserit definiebas an eos. Eu sit tincidunt incorrupte definitionem, vis mutat affert percipit cu, eirmod consectetuer signiferumque eu per. In usu latine equidem dolores. Quo no falli viris intellegam, ut fugit veritus placerat per.
    Ius id vidit volumus mandamus, vide veritus democritum te nec, ei eos debet libris consulatu. No mei ferri graeco dicunt, ad cum veri accommodare. Sed at malis omnesque delicata, usu et iusto zzril meliore. Dicunt maiorum eloquentiam cum cu, sit summo dolor essent te. Ne quodsi nusquam legendos has, ea dicit voluptua eloquentiam pro, ad sit quas qualisque. Eos vocibus deserunt quaestio ei.
  </div>  
</div>