<div class= "morado-claro">
  <br>
  <br>
  
</div>
<div class="contain blanco">
   <br>
  <br>
   <h4 class= "center-align"> Reunión <%=@reunion.id%></h4>
  <table class="responsive-table-hoverable-centered">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Hora Inicio</th>
        <th>Hora Termino</th>
        <th>Lugar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @reunion.fecha %></td>
        <td><%= @reunion.horainicio %></td>
        <td><%= @reunion.horafin %></td>
        <td><%= @reunion.lugar %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class= "morado-claro">
  <br>
  <br>
</div>

<div class="contain blanco">
  <br>
  <br>
   <h4 class= "center-align"> Elementos dialogicos de la reunión <%=@reunion.id%></h4>
   <br>
   <br>
  <table class="responsive-table-hoverable-centered">
    <thead>
      <tr>
        <th>Tema</th>
        <th>Tipo</th>
        <th>Discusion</th>
        <th>Accion</th>
        <th>Owner</th>
        <th>Estado</th>
        <th>Rebaseline</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
      <tr>
        <td><%= task.tema %></td>
        <td><%= task.tipo %></td>
        <td><%= task.discusion %></td>
        <td><%= task.accion %></td>
        <td><%= task.owner %></td>
        <td><%= task.estado %></td>
        <td><%= task.baseline %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <br>
  <%= link_to 'Volver', reunions_path %>
</div>