<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @reunion.fecha %>
</p>

<p>
  <strong>Horainicio:</strong>
  <%= @reunion.horainicio %>
</p>

<p>
  <strong>Horafin:</strong>
  <%= @reunion.horafin %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @reunion.lugar %>
</p>
<table>
    <thead>
      <tr>
        <th>id</th>
        <th>tema</th>
        <th>tipo</th>
        <th>discusion</th>
        <th>accion</th>
        <th colspan="3"></th>
      </tr>
    </thead>
	<tbody>
	      <% @tasks.each do |reunion| %>
	      <tr>
	        <td><%= reunion.id %></td>
	        <td><%= reunion.tema %></td>
	        <td><%= reunion.tipo %></td>
	        <td><%= reunion.discusion %></td>
	        <td><%= reunion.accion %></td>
	      </tr>
	      <% end %>
	</tbody>
</table>

<%= link_to 'Edit', edit_reunion_path(@reunion) %> |
<%= link_to 'Back', reunions_path %>
