<p id="notice"><%= notice %></p>

<p>
  <strong>Secreatrio:</strong>
  <%= @userreunion.secreatrio %>
</p>

<p>
  <strong>Presente:</strong>
  <%= @userreunion.presente %>
</p>

<%= link_to 'Edit', edit_userreunion_path(@userreunion) %> |
<%= link_to 'Back', userreunions_path %>
