<div class= "morado-claro">
  <br>
  <br>
</div>
<div class="contain blanco">
  <br>
  <br>
  <h4 class= "center-align"> Tarea <%=@task.id%></h4>
  <br>
  <br>
  <table class="responsive-table-hoverable-centered">
    <thead>
      <tr>
        <th>Tema</th>
        <th>Tipo</th>
        <th>Discusion</th>
        <th>Accion</th>
        <th>Owner</th>
        <th>Fecha termino</th>
        <th>Estado</th>
        <th>Baseline</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @task.tema %></td>
        <td><%= @task.tipo %></td>
        <td><%= @task.discusion %></td>
        <td><%= @task.accion %></td>
        <td><%= @task.owner %></td>
        <td><%= @task.fechatermino %></td>
        <td><%= @task.estado %></td>
        <td><%= @task.baseline %></td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <%= link_to 'Volver', reunions_path %>
</div>