<div class= "morado-claro">
  <br>
  <br>
</div>

<div class="contain blanco">
  <br>
  <br>
   <h4 class= "center-align"> Descripción elemento dialógico</h4>
   <div class='btn-floating btn-large waves-effect waves-light green task acuerdo-center-block'>#{ task.tipo[0,2].upcase}</div>
   <br>
   <br>
  <table class="responsive-table-hoverable-centered">
    <thead>
      <tr>
        <th>Tema</th>
        <th>Tipo</th>
        <th>Discusion</th>
        <th>Acción</th>
        <th>Owner</th>
        <th>Estado</th>
        <th>Rebaseline</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @task.tema %></td>
        <td><%= @task.tipo %></td>
        <td><%= @task.discusion %></td>
        <td><%= @task.accion %></td>
        <td><%= @task.owner %></td>
        <td><%= @task.estado %></td>
        <td><%= @task.baseline %></td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  
</div>


<div class= "morado-claro">
  <br>
  <br>
</div>
<div class="contain blanco">
   <br>
  <br>
   <h4 class= "center-align"> Aquí se muestra la relación con otros elementos VIZ</h4>
   <br>
   <br>
<%= link_to 'Volver', reunions_path %>
  <br>
  <br>
</div>








